<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'style7.css') }}">
  </head>
  <body>
    <div class="container">
      <table>
        <thead>
          <th>Description</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr>
            <td>customers</td>
            <td>
              <button type="button" onclick="window.location.href='{{ url_for('customer_detail') }}'">
                Show
              </button>
            </td>
          </tr>

          <tr>
            <td>Professionals</td>
            <td>
              <button type="button" onclick = "window.location.href='{{ url_for('professional_detail') }}'">
              Show
              </button>
            </td>
          </tr>

          <tr>
            <td>Services</td>
            <td>
              <button type="button" onclick="window.location.href='{{ url_for('service_detail') }}'">
                Show
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>