<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
  </head>

  <body>
    <nav>
      <div class="first_nav_div">
        <span>Welcome {{ customer_name }}...</span>
      </div>
      <div class="second_nav_div">
        <a href=" {{ url_for('user_history',customer_id = customer_id) }}">Edit Service</a>
        <a href=" {{ url_for('login') }}">Log Out</a>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        {% for item in service %}
        <div class="col">
          <img src={{ url_for("static",filename='img/' + item.image_url) }}>
          <h3>{{ item.service_name }}</h3>
          <p>{{ item.description }}</p>
          <button>
            <a href="{{ url_for('add_service',customer_id=customer_id,service_id=item.service_id) }}">
              Add Service
            </a>
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>