<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HomeEase Solutions</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    <!-- Navigation Bar -->
    <div class="navbar">
      <div class="nav1">
        <img src = " {{ url_for('static',filename = 'service_img/' + 'logo.avif') }}" class="logo">
        <span class="logo-text">HomeEase Solutions</span>
      </div>
      <div class="nav2">
        <div class="menu-icon" onclick="toggleMenu()">
          <i class="bi bi-list"></i>
        </div>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('signup') }}">Signup</a></li>
        </ul>
      </div>
    </div>


  <!-- Container -->
    <div class="container">
      <div id="home" class="cover-img">
        <p>Leaders in Quality <br> Home Services and <br>Ratings</p>
      </div>

      <!-- Services Section -->
      <h2 id="services" class="container-heading">Services</h2>
      <div class="services_row1">
        <div class="services_col">
          <img src="{{ url_for('static',filename = 'service_img/' + 'service1.jpg') }}">
          <h3 class="subheader">AC Repairing</h3>
          <p>
            We provide fast, reliable, and affordable air conditioning repair solutions. Our certified technicians are dedicated to restoring your comfort and ensuring your AC runs efficiently. Contact us today for a free estimate and experience the difference.
          </p>
        </div>
        <div class="services_col">
          <img src="{{ url_for('static',filename = 'service_img/' + 'service2.jpg') }}">
          <h3 class="subheader">Plumber Services</h3>
          <p>
            We specialize in top-notch plumbing  solutions for your home and business. From leaky faucets to complete pipe installations, our experienced team is here to tackle any issue swiftly and efficiently. Trust us for quality service and peace of mind—contact us today!
          </p>
        </div>
        <div class="services_col">
          <img src="{{ url_for('static',filename = 'service_img/' + 'service3.jpg') }}">
          <h3 class="subheader">Electrical Services</h3>
          <p>
            We deliver safe and reliable electrical solutions for residential and commercial needs. Whether it’s installation, repairs, or upgrades,our licensed electricians are ready to light up your space. Get in touch today for quality service and a brighter tomorrow!
          </p>
        </div>
      </div>

    <!-- Aboutus Section -->
      <div class="about_row1">
        <div class="about_col1">
          <h2 id="about" class="container-heading">About</h2>
          <p>
            At HomeEase, we understand that maintaining a home can be a challenging task. Our mission is to simplify your household needs by providing reliable, high-quality services that cater to your unique lifestyle. Based in Agra, we offer a comprehensive range of services, including cleaning, maintenance, repairs, and more, ensuring that every corner of your home is well taken care of.
            <br><br>
            Our team of experienced professionals is dedicated to delivering exceptional service with a personal touch. We take pride in our attention to detail, ensuring that each job is completed to the highest standards. Customer satisfaction is at the heart of what we do, and we strive to build lasting relationships with our clients through trust and transparency.
            <br><br>
            At HomeEase, we use eco-friendly products and modern techniques to ensure your home is not only clean but also safe for your family and pets. Whether you need a one-time deep clean, regular maintenance, or urgent repairs, we’re here to help.
            <br><br>
            We believe in the importance of community and are committed to giving back through local initiatives. Our goal is to make your life easier, allowing you to focus on what truly matters—your family and your passions. Choose HomeEase for a seamless, hassle-free home management experience, and discover the joy of a well-maintained home. Let us take care of the details, so you can enjoy your space to the fullest!
          </p>
        </div>
        <div class="about_col1">
          <img src="{{ url_for('static',filename = 'service_img/' + 'aboutImage.jpg') }}">
        </div>
        <div class="about_col2">
          <div>
            <span>2020</span> <br>Year <br>Established
          </div>
          <div>
            <span>5</span> <br>Total <br> Services
            </div>
          <div>
            <span>300</span> <br>Workers <br> Appointed
          </div>
          <div>
            <span>08</span> <br>Awards <br> Won
          </div>
        </div>
      </div>

      <!-- Contactus -->
      <h2 id="contact" class="container-heading">Contact</h2>
      <div class="contact_row1">
        <div class="contact_col1">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3549.911800387071!2d78.01143717368295!3d27.159065149463498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397476cc288a5e5d%3A0xcd85551a50db571!2s123%2C%20Taj%20Rd%2C%20Agra%20Cantt%2C%20Idgah%20Colony%2C%20Agra%2C%20Uttar%20Pradesh%20282001!5e0!3m2!1sen!2sin!4v1729096085384!5m2!1sen!2sin" width="400" height="400" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contact_col2">
          <h3 class="subheader">Inquiries</h3>
          <p>
            For any inquiries, questions or commendations, please <br>call: 9876543210 or fill out the following form
          </p>
          <h3 class="subheader">Contact Us</h3>
          <form>
            <div>
              <label>First Name</label><br>
              <input type="text">
            </div>
            <div>
              <label>Last Name</label><br>
              <input type="text">
            </div>
            <div>
              <label>Email</label><br>
              <input type="email">
            </div>
            <div>
              <label>Subject</label><br>
              <input type="text">
            </div>
            <div>
              <label>Message</label><br>
              <textarea rows="4" cols="50"></textarea>
            </div>
            <div>
              <button>Submit</button>
            </div>
          </form>
        </div>
        <div class="contact_col2">
          <h3 class="subheader">Head Office</h3>
          <p>
            123 Taj Road<br>
            Agra, Uttar Pradesh 282001<br>
            homeease@gmail.com<br>
            Mobile No: +91 9876543210<br>
          </p>
        </div>
      </div>

      <!-- Footer -->
      <div class="footer">
        <p>© 2035 by HomeEase Solutions. Powered and secured by Wix</p>
      </div>
    </div>
  </body>
</html>