<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <div class="avatar">
        <img src="{{ url_for('static',filename='service_img/' + 'user.png') }}" alt="User Avatar"> 
      </div>

      <!-- Login Form -->
      <form action="{{ url_for('login') }}" method="POST" class="form">
        <div class="user-input">
          <label for="username">
            <i class="bi bi-person icon"></i>
          </label>
          <input type="text" id="username" name="uname" placeholder="USERNAME" required>  *
          <p>{{ msg1 }}</p>
        </div>

        <div class="user-input">
          <label for="password">
            <i class="bi bi-file-lock-fill icon"></i>
          </label>
          <input type="password" id="password" name="pwd" placeholder="*********" required>*
          <p>{{ msg2 }}</p>
        </div>

 
        <button type="submit" class="btn-form">LOGIN</button>
        <div class="extras">
          <a href="#" class="redirect">Forgot your password?</a>
          <a href="{{ url_for('signup') }}" class="redirect">New User</a>
        </div>
      </form>
    </div>
  </body>
</html>