<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signup</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Register</h1>

      <!-- Signup Form -->
      <form action="{{ url_for('signup') }}" method="POST" class="form">

        <div class="user-input">
          <select name="role" class="role" onchange="toggleFields()">
            <option value="" disabled selected>Select Role</option>
            <option value="Customer">Customer</option>
            <option value="Professional">Professional</option>
          </select>
        </div>

        <div class="user-input">
          <label for="userName">
            <i class="bi bi-person icon"></i>
          </label>
          <input type="text" id="userName" name="uname" placeholder="USERNAME" required>
        </div>

        <div class="user-input">
          <label for="fullName">
            <i class="bi bi-person icon"></i>
          </label>
          <input type="text" id="fullName" name="full_name" placeholder="FULLNAME" required>
        </div>
        
        <div class="user-input">
          <label for="email">
            <i class="bi bi-envelope-check icon"></i>
          </label>
          <input type="email" id="email" name="email" placeholder="EMAIL" required>
        </div>


        <div class="user-input">
          <label for="city">
            <i class="bi bi-info icon"></i>
          </label>
          <input type="text" id="city" name="city" placeholder="CITY" required>
        </div>

        <div id="customer" style="display:none;">
          <div class="user-input">
            <label for="address">
              <i class="bi bi-info icon"></i>
            </label>
            <input type="text" id="address" name="address" placeholder="ADDRESS" required>
          </div>
        </div>

        <div class="user-input">
          <label for="pin_code">
            <i class="bi bi-info icon"></i>
          </label>
          <input type="number" id="pin_code" name="pin_code" placeholder="PIN CODE" required>
        </div>

        <div id="professional" style="display:none;">
          <div class="user-input">
            <label for="experience">
              <i class="bi bi-info icon"></i>
            </label>
            <input type="number" id="experience" name="experience" placeholder="EXPERIENCE" required>
          </div>

          <div class="user-input">
            <select name="specialization">
              <option value="" disabled selected>Select Specialization</option>
              {% for service in services %}
                <option value={{ service.service_name }} class="role">{{ service.service_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>


        <div class="user-input">
          <label for="password">
            <i class="bi bi-file-lock-fill icon"></i>
          </label>
          <input type="password" id="password" name="pwd" placeholder="PASSWORD" required>
        </div>
 
        <button type="submit" class="btn-form">Register</button>
        <div class="extras">
          <a href="{{ url_for('login') }}" class="redirect">Existing User</a>
        </div>
        <div>
          <p>{{ msg }}</p>
        </div>
      </form>
    </div>

    <script src="{{ url_for("static",filename="script.js") }}"></script>
  </body>
</html>